[submodule "wordpress"]
	path = wordpress
	url = https://github.com/WordPress/WordPress.git
[submodule "content/themes/_s"]
	path = content/themes/_s
	url = git@github.com:Automattic/_s.git
[submodule "content/plugins-mu/s3-uploads"]
	path = content/plugins-mu/s3-uploads
	url = git@github.com:humanmade/S3-Uploads.git
[submodule "content/plugins-mu/wp-imgix"]
	path = content/plugins-mu/wp-imgix
	url = git@github.com:humanmade/WP-Imgix.git
[submodule "content/plugins-mu/batcache"]
	path = content/plugins-mu/batcache
	url = git@github.com:humanmade/batcache.git
[submodule "content/plugins-mu/wp-api"]
	path = content/plugins-mu/wp-api
	url = git@github.com:WP-API/WP-API.git
[submodule "content/plugins-mu/rest-api-console"]
	path = content/plugins-mu/rest-api-console
	url = git@github.com:WP-API/rest-api-console.git
[submodule "content/plugins-mu/memcached-object-cache-pecl"]
	path = content/plugins-mu/memcached-object-cache-pecl
	url = git@github.com:tollmanz/wordpress-pecl-memcached-object-cache.git
[submodule "content/plugins-mu/oauth"]
	path = content/plugins-mu/oauth
	url = git@github.com:WP-API/OAuth1.git
[submodule "content/plugins/broker-authentication"]
	path = content/plugins/broker-authentication
	url = git@github.com:humanmade/BrokerAuthentication.git
[submodule "content/themes/broker-authentication"]
	path = content/themes/broker-authentication
	url = git@github.com:humanmade/BrokerTheme.git
[submodule "content/plugins-mu/aws-ses"]
	path = content/plugins-mu/aws-ses
	url = git@github.com:humanmade/aws-ses-wp-mail.git
