[submodule "wordpress"]
	path = wordpress
	url = https://github.com/WordPress/WordPress.git
[submodule "content/themes/_s"]
	path = content/themes/_s
	url = git@github.com:Automattic/_s.git
[submodule "content/plugins-mu/oauth"]
	path = content/plugins-mu/oauth
	url = git@github.com:WP-API/OAuth1.git
[submodule "content/plugins/broker-authentication"]
	path = content/plugins/broker-authentication
	url = git@github.com:humanmade/BrokerAuthentication.git
[submodule "content/themes/broker-authentication"]
	path = content/themes/broker-authentication
	url = git@github.com:humanmade/BrokerTheme.git
[submodule "content/plugins/rest-oauth"]
	path = content/plugins/rest-oauth
	url = git@github.com:WP-API/OAuth1.git
[submodule "content/plugins/basic-auth"]
	path = content/plugins/basic-auth
	url = git@github.com:WP-API/Basic-Auth.git
[submodule "content/plugins/broker-authentication-server"]
	path = content/plugins/broker-authentication-server
	url = git@github.com:WP-API/broker-server.git
[submodule "content/hm-platform"]
	path = content/hm-platform
	url = git@github.com:humanmade/hm-platform.git
[submodule "content/plugins-mu/restsplain"]
	path = content/plugins-mu/restsplain
	url = git@github.com:humanmade/Restsplain.git
[submodule "content/themes/apps-beta"]
	path = content/themes/apps-beta
	url = https://github.com/WP-API/broker-theme.git
[submodule "content/plugins/app-connect-server"]
	path = content/plugins/app-connect-server
	url = git@github.com:humanmade/app-connect-server.git
[submodule "content/plugins/rest-oauth2"]
	path = content/plugins/rest-oauth2
	url = https://github.com/WP-API/OAuth2.git
